@charset "UTF-8";
/* line 1, ../../../OneDrive/Рабочий стол/git/WordPress/scss/_general.scss */
.container {
  width: 1200px;
  margin: 0 auto;
}

/* line 6, ../../../OneDrive/Рабочий стол/git/WordPress/scss/_general.scss */
.button {
  width: 213px;
  height: 52px;
  background: linear-gradient(0deg, #2798B9 0%, #3AB6DA 100%);
  font-weight: 400;
  font-size: 12px;
  text-transform: uppercase;
  color: #ffffff;
  display: block;
  margin: 50px auto;
}

/* line 16, ../../../OneDrive/Рабочий стол/git/WordPress/scss/_general.scss */
.button:hover {
  background: none;
  background-color: #299CBD;
  cursor: pointer;
}

/* line 22, ../../../OneDrive/Рабочий стол/git/WordPress/scss/_general.scss */
.button:focus {
  outline: #ffffff 3px solid;
}

/* line 27, ../../../OneDrive/Рабочий стол/git/WordPress/scss/_general.scss */
.button-section__fourth:focus {
  outline: #299CBD 3px solid;
}

/* line 33, ../../../OneDrive/Рабочий стол/git/WordPress/scss/_general.scss */
.section__first {
  min-height: 600px;
  background: url("../img/bg/main_bg.png") center center/cover no-repeat;
  padding: 40px 0 60px 0;
}

/* line 40, ../../../OneDrive/Рабочий стол/git/WordPress/scss/_general.scss */
.section__first_header .logo img {
  display: block;
  margin: 0 auto;
}

/* line 46, ../../../OneDrive/Рабочий стол/git/WordPress/scss/_general.scss */
.section__first_header .logo_info {
  color: #ffffff;
  font-size: 15px;
  font-weight: 500;
  text-align: center;
  text-transform: uppercase;
  margin-top: 10px;
}

/* line 56, ../../../OneDrive/Рабочий стол/git/WordPress/scss/_general.scss */
.section__first_title {
  color: #F9BF3B;
  font-size: 41px;
  font-weight: 900;
  text-transform: uppercase;
  text-align: center;
}

/* line 64, ../../../OneDrive/Рабочий стол/git/WordPress/scss/_general.scss */
.section__first_easy {
  color: #ffffff;
  font-weight: 900;
  font-size: 80px;
  text-transform: uppercase;
  text-align: center;
}

/* line 71, ../../../OneDrive/Рабочий стол/git/WordPress/scss/_general.scss */
.section__first_easy::before {
  content: '';
  width: 290px;
  height: 2px;
  background-color: #ffffff;
  display: inline-block;
  vertical-align: middle;
  margin-left: 20px;
}

/* line 81, ../../../OneDrive/Рабочий стол/git/WordPress/scss/_general.scss */
.section__first_easy::after {
  content: '';
  width: 290px;
  height: 2px;
  background-color: #ffffff;
  display: inline-block;
  vertical-align: middle;
  margin-right: 20px;
}

/* line 92, ../../../OneDrive/Рабочий стол/git/WordPress/scss/_general.scss */
.section__first_desc {
  font-size: 21px;
  font-weight: 300;
  color: #ffffff;
  width: 1100px;
  text-align: center;
  margin: 20px auto;
}

/* line 99, ../../../OneDrive/Рабочий стол/git/WordPress/scss/_general.scss */
.section__first_desc span {
  color: #F9BF3B;
  text-transform: uppercase;
  font-weight: 700;
}

/* line 107, ../../../OneDrive/Рабочий стол/git/WordPress/scss/_general.scss */
.section__first_footer .logo_desc {
  font-weight: 200;
  font-size: 15px;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
}

/* line 116, ../../../OneDrive/Рабочий стол/git/WordPress/scss/_general.scss */
.section__first_footer .logo img {
  display: block;
  margin: 5px auto;
}

/* line 124, ../../../OneDrive/Рабочий стол/git/WordPress/scss/_general.scss */
.section__title {
  font-weight: 400;
  font-size: 30px;
  text-transform: uppercase;
  text-align: center;
}

/* line 131, ../../../OneDrive/Рабочий стол/git/WordPress/scss/_general.scss */
.section__line {
  width: 220px;
  height: 7px;
  background-color: #F9BF3B;
  margin: 20px auto;
}

/* line 138, ../../../OneDrive/Рабочий стол/git/WordPress/scss/_general.scss */
.section__subtitle {
  font-weight: 400;
  font-size: 23px;
  opacity: 0.8;
  text-align: center;
  margin-top: 20px;
}

/* line 146, ../../../OneDrive/Рабочий стол/git/WordPress/scss/_general.scss */
.section__second {
  min-height: 400;
  background-color: #efefef;
  padding: 50px 0 60px 0;
}

/* line 151, ../../../OneDrive/Рабочий стол/git/WordPress/scss/_general.scss */
.section__second_waiting-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 50px;
}

/* line 159, ../../../OneDrive/Рабочий стол/git/WordPress/scss/_general.scss */
.section__second_item img {
  width: 100%;
}

/* line 163, ../../../OneDrive/Рабочий стол/git/WordPress/scss/_general.scss */
.section__second_item .desc {
  font-size: 15px;
  font-weight: 300;
  width: 350px;
  text-align: center;
  margin-top: 25px;
  line-height: 130%;
}

/* line 174, ../../../OneDrive/Рабочий стол/git/WordPress/scss/_general.scss */
.section__third {
  min-height: 300px;
  background: url("../img/bg/second_bg.png") center center/cover no-repeat;
  padding: 60px 0 70px 0;
}

/* line 179, ../../../OneDrive/Рабочий стол/git/WordPress/scss/_general.scss */
.section__third .section__title {
  color: #ffffff;
}

/* line 183, ../../../OneDrive/Рабочий стол/git/WordPress/scss/_general.scss */
.section__third_finish-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 30px;
}

/* line 189, ../../../OneDrive/Рабочий стол/git/WordPress/scss/_general.scss */
.section__third_finish-wrapper .icon {
  width: 100px;
  height: 100px;
  border-radius: 100%;
  background-color: #B4E2FF;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

/* line 200, ../../../OneDrive/Рабочий стол/git/WordPress/scss/_general.scss */
.section__third_finish-wrapper .desc {
  font-weight: 300;
  font-size: 17px;
  color: #ffffff;
  width: 180px;
  text-align: center;
  margin-top: 20px;
}

/* line 211, ../../../OneDrive/Рабочий стол/git/WordPress/scss/_general.scss */
.section__fourth {
  min-height: 400px;
  background-color: #efefef;
  padding: 60px 0 80px 0;
}

/* line 217, ../../../OneDrive/Рабочий стол/git/WordPress/scss/_general.scss */
.section__fourth_price img {
  display: block;
  margin: 0 auto;
}

/* line 223, ../../../OneDrive/Рабочий стол/git/WordPress/scss/_general.scss */
.section__fourth_desc {
  font-weight: 400;
  font-size: 30px;
  line-height: 130%;
  width: 1000px;
  text-align: center;
  margin: 20px auto;
}

/* line 233, ../../../OneDrive/Рабочий стол/git/WordPress/scss/_general.scss */
.section__webinar {
  min-height: 400px;
  padding: 70px 0 50px 0;
}

/* line 238, ../../../OneDrive/Рабочий стол/git/WordPress/scss/_general.scss */
.section__webinar-img img {
  display: block;
  margin: 0 auto;
}

/* line 244, ../../../OneDrive/Рабочий стол/git/WordPress/scss/_general.scss */
.section__webinar-info {
  font-weight: 400;
  font-size: 30px;
  text-transform: uppercase;
  text-align: center;
  margin: 30px auto;
}

/* line 252, ../../../OneDrive/Рабочий стол/git/WordPress/scss/_general.scss */
.section__webinar-time {
  font-weight: 900;
  font-size: 36px;
  text-transform: uppercase;
  text-align: center;
  margin: 0 auto;
  color: #299CBD;
}

/* line 261, ../../../OneDrive/Рабочий стол/git/WordPress/scss/_general.scss */
.section__webinar-desc {
  font-weight: 400;
  font-size: 23px;
  text-transform: uppercase;
  text-align: center;
  margin: 30px auto;
}

/* line 270, ../../../OneDrive/Рабочий стол/git/WordPress/scss/_general.scss */
.section__footer {
  background-color: #000;
  min-height: 100px;
  padding: 50px 0 50px 0;
}

/* line 275, ../../../OneDrive/Рабочий стол/git/WordPress/scss/_general.scss */
.section__footer .link {
  font-weight: 300;
  font-size: 15px;
  margin: 20px auto;
  text-align: center;
}

/* line 280, ../../../OneDrive/Рабочий стол/git/WordPress/scss/_general.scss */
.section__footer .link a {
  color: #888888;
  transition: 0.5s all;
}

/* line 284, ../../../OneDrive/Рабочий стол/git/WordPress/scss/_general.scss */
.section__footer .link a:hover {
  color: #ffffff;
  text-decoration: none;
  font-size: 20px;
}

@media (max-width: 1200px) {
  /* line 2, ../../../OneDrive/Рабочий стол/git/WordPress/scss/_media.scss */
  .container {
    width: 960px;
  }
  /* line 6, ../../../OneDrive/Рабочий стол/git/WordPress/scss/_media.scss */
  .section__first_title {
    font-size: 30px;
  }
  /* line 10, ../../../OneDrive/Рабочий стол/git/WordPress/scss/_media.scss */
  .section__first_easy {
    font-size: 60px;
  }
  /* line 13, ../../../OneDrive/Рабочий стол/git/WordPress/scss/_media.scss */
  .section__first_easy::before, .section__first_easy::after {
    width: 200px;
  }
  /* line 18, ../../../OneDrive/Рабочий стол/git/WordPress/scss/_media.scss */
  .section__first_desc {
    font-size: 17px;
    width: 660px;
  }
  /* line 25, ../../../OneDrive/Рабочий стол/git/WordPress/scss/_media.scss */
  .section__second_waiting-wrapper {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  /* line 31, ../../../OneDrive/Рабочий стол/git/WordPress/scss/_media.scss */
  .section__second_item {
    margin-bottom: 30px;
  }
  /* line 34, ../../../OneDrive/Рабочий стол/git/WordPress/scss/_media.scss */
  .section__second_item .desc {
    width: 400px;
    font-size: 18px;
  }
  /* line 42, ../../../OneDrive/Рабочий стол/git/WordPress/scss/_media.scss */
  .section__third_finish-wrapper {
    width: 100%;
  }
  /* line 47, ../../../OneDrive/Рабочий стол/git/WordPress/scss/_media.scss */
  .section__third_item .desc {
    font-size: 15px;
    width: 160px;
  }
  /* line 56, ../../../OneDrive/Рабочий стол/git/WordPress/scss/_media.scss */
  .section__fourth_desc {
    width: 660px;
    font-size: 20px;
  }
}

@media (max-width: 991px) {
  /* line 64, ../../../OneDrive/Рабочий стол/git/WordPress/scss/_media.scss */
  .container {
    width: 720px;
  }
  /* line 69, ../../../OneDrive/Рабочий стол/git/WordPress/scss/_media.scss */
  .section__first_title {
    font-size: 20px;
  }
  /* line 73, ../../../OneDrive/Рабочий стол/git/WordPress/scss/_media.scss */
  .section__first_easy {
    font-size: 40px;
  }
  /* line 76, ../../../OneDrive/Рабочий стол/git/WordPress/scss/_media.scss */
  .section__first_easy::before, .section__first_easy::after {
    width: 170px;
  }
  /* line 83, ../../../OneDrive/Рабочий стол/git/WordPress/scss/_media.scss */
  .section__third_finish-wrapper {
    width: 50%;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
  }
  /* line 91, ../../../OneDrive/Рабочий стол/git/WordPress/scss/_media.scss */
  .section__third_item {
    margin-bottom: 20px;
  }
}

@media (max-width: 767px) {
  /* line 98, ../../../OneDrive/Рабочий стол/git/WordPress/scss/_media.scss */
  .container {
    width: 540px;
  }
  /* line 104, ../../../OneDrive/Рабочий стол/git/WordPress/scss/_media.scss */
  .section__first_easy::before, .section__first_easy::after {
    display: none;
  }
  /* line 109, ../../../OneDrive/Рабочий стол/git/WordPress/scss/_media.scss */
  .section__first_desc {
    width: 450px;
    font-size: 14px;
  }
  /* line 116, ../../../OneDrive/Рабочий стол/git/WordPress/scss/_media.scss */
  .section__third_finish-wrapper {
    justify-content: center;
    align-items: center;
  }
  /* line 123, ../../../OneDrive/Рабочий стол/git/WordPress/scss/_media.scss */
  .section__fourth_desc {
    width: 500px;
    font-size: 18px;
    text-align: left;
  }
}

@media (max-width: 575px) {
  /* line 132, ../../../OneDrive/Рабочий стол/git/WordPress/scss/_media.scss */
  .container {
    width: auto;
  }
  /* line 137, ../../../OneDrive/Рабочий стол/git/WordPress/scss/_media.scss */
  .section__first_desc {
    display: none;
  }
  /* line 144, ../../../OneDrive/Рабочий стол/git/WordPress/scss/_media.scss */
  .section__second_item img {
    width: 80%;
  }
  /* line 148, ../../../OneDrive/Рабочий стол/git/WordPress/scss/_media.scss */
  .section__second_item .desc {
    width: 300px;
    font-size: 16px;
    text-align: center;
  }
  /* line 157, ../../../OneDrive/Рабочий стол/git/WordPress/scss/_media.scss */
  .section__fourth_desc {
    width: 260px;
    font-size: 15px;
    text-align: center;
  }
  /* line 165, ../../../OneDrive/Рабочий стол/git/WordPress/scss/_media.scss */
  .section__webinar img {
    width: 80%;
  }
  /* line 169, ../../../OneDrive/Рабочий стол/git/WordPress/scss/_media.scss */
  .section__webinar-info, .section__webinar-desc {
    font-size: 21px;
  }
  /* line 173, ../../../OneDrive/Рабочий стол/git/WordPress/scss/_media.scss */
  .section__webinar-time {
    font-size: 27px;
  }
}

/*# sourceMappingURL=style.css.map */