@media (min-width: 768px) {
    .promo {
        &__title {
            font-size: 36px;
        }

        &__easy {
            font-size: 48px;

            &::before, &::after {
                content: '';
                width: 100px;
            }
        }
    }

    .section-title {
        font-size: 26px;
    }

    .section-subtitle {
        font-size: 18px;
    }

    .intensive {

        &__desc {
            font-size: 18px;
            width: 450px;
        }
    }

    .finish {

        &__wrapper {
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-evenly;
            padding: 18px;
        }

        &__desc {
            width: 220px;
        }
    }

    .price {

        &__desc {
            font-size: 24px;
        }
    }
}

@media (min-width: 1120px) {
    .promo {

        &__title {
            font-size: 41px;
        }

        &__easy {
            font-size: 80px;

            &::before, &::after {
                content: '';
                width: 290px;
            }
        }

        &__desc {
            display: block;
            font-weight: 300;
            font-size: 21px;
            color: #fff;
            text-align: center;
            margin: 20px 0;
        }

        &__active {
            font-weight: 700;
            color: $COLOR-YELLOW;
        }
    }

    .intensive {

        &__wrapper {
            flex-direction: row;
            align-items: flex-start;
            justify-content: space-between;
        }

        &__img {
            width: 340px;
            height: 200px;
        }

        &__desc {
            font-size: 15px;
            width: 360px;
        }
    }

    .finish {

        &__wrapper {
            justify-content: space-between;
            align-items: center;
            padding: 0;
            flex-wrap: nowrap;
        }
    }

    .footer {

        &__links {
            padding-top: 5%;
        }
    }

    .button {
        width: 250px;
        height: 60px;
        font-size: 16px;
    }

    .section-title {
        font-size: 30px;
    }

    .section-subtitle {
        font-size: 23px;
    }
}