*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.promo{
    min-height: 800px;
    background: url('../img/main_bg.png') center center/ cover no-repeat;

    .container{
        width: 1140px;
        margin: 0 auto;

        .logo{
            .logo_img{
                display: block;
                margin: 0 auto;
                padding-top: 40px;
            }

            .logo_desc{
                color: white;
                font-size: 14px;
                font-weight: 500;
                line-height: 24px;
                text-align: center;
                text-transform: uppercase;
                margin-top: 20px;
            }
        }

        .promo_description{

            padding-top: 30px;
            .title{
                color: #F9BF3B;
                font-size: 41px;
                font-weight: 900;
                line-height: 41px;
                text-align: center;
                text-transform: uppercase;
            }

            .subtitle{
                color: white;
                font-size: 80px;
                font-weight: 900px;
                margin-top: 20px;
                text-align: center;
                text-transform: uppercase;
            }

            h2.title{
                margin-top: 20px;
            }

            .description{
                color: white;
                font-size: 21px;
                font-weight: 300;
                text-align: center;
                line-height: 21px;
                margin-top: 20px;

                span{
                    font-weight: 700;
                    color: #F9BF3B;
                }
            }
        }
        button{
            font-size: 21px;
            font-weight: 400;
            color: white;
            padding: 22px 12px;
            text-align: center;
            background: linear-gradient(0deg, #2798B9 0%, #3AB6DA 100%);
            cursor: pointer;
            display: block;
            margin: 60px auto;
        }

        .promo_foot-logo{
            .foot-logo_desc{
                color: white;
                font-size: 15px;
                font-weight: 200;
                text-transform: uppercase;
                text-align: center;
            }

            .foot-logo_img{
                display: block;
                margin: 5px auto;
            }
        }
    }
}

.intensive{
    min-height: 604px;
    background-color: #efefef;

    .container{
        width: 1140px;
        margin: 0 auto;
    }

    .title{
        font-size: 30px;
        font-weight: 400;
        text-align: center;
        text-transform: uppercase;
        padding-top: 80px;
    }

    .orange_line{
        background-color: orange;
        width: 220px;
        height: 5px;
        margin: 18px auto;
    }

    .subtitle{
        font-size: 23px;
        font-weight: 400;
        text-align: center;
        margin-top: 18px;
    }

    .wrapper{
        display: flex;
        justify-content: space-between;
        margin-top: 50px;

        .item{
            .description{
                color: #4A4A4A;
                width: 342px;
                font-size: 15px;
                font-weight: 300;
                line-height: 21px;
                text-align: center;
                margin-top: 25px;
            }
        }
    }
}

.after-study{
    min-height: 450px;
    background: url('../img/second_bg.png') center center/ cover no-repeat;

    .container{
        width: 1140px;
        margin: 0 auto;
    }

    .title{
        color: white;
        font-size: 30px;
        font-weight: 400;
        text-transform: uppercase;
        text-align: center;
        padding-top: 70px;
    }

    .orange_line{
        width: 220px;
        height: 5px;
        background-color: orange;
        margin: 20px auto;
    }

    .wrapper{
        display: flex;
        justify-content: space-around;
        padding-top: 30px;

        .item{
            .icon{
                width: 120px;
                height: 120px;
                background-color: #B4E2FF;
                border-radius: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                margin: 0 auto;
            }

            .desc{
                color: #efefef;
                font-size: 17px;
                font-weight: 300;
                width: 206px;
                text-align: center;
                margin-top: 20px;
            }
        }
    }
}

.price{
    min-height: 630px;
    background-color: #efefef;

    .container{
        width: 1140px;
        margin: 0 auto;
    }

    .logo_price{
        display: block;
        margin: 0 auto;
        padding-top: 90px;
    }

    .price_desc{
        font-size: 30px;
        font-weight: 300;
        line-height: 40px;
        text-align: center;
        margin-top: 40px;
    }

    button{
        color: #ffff;
        font-size: 21px;
        font-weight: 400;
        text-transform: uppercase;
        padding: 22px 12px;
        background: linear-gradient(0deg, #2798B9 0%, #3AB6DA 100%);
        cursor: pointer;
        display: block;
        margin: 50px auto;
    }
}

.webinar{
    min-height: 450px;
    background-color: white;

    .container{
        width: 1140px;
        margin: 0 auto;
    }

    .webinar_logo{
        padding-top: 80px;
        display: block;
        margin: 0 auto;
    }

    .desc{
        margin: 40px 0;

        .text_normal{
            font-size: 30px;
            font-weight: 400;
            text-transform: uppercase;
            text-align: center;
        }

        .text_bold{
            font-size: 36px;
            font-weight: 900;
            color: #299CBD;
            text-transform: uppercase;
            text-align: center;
            margin-top: 30px;
        }

        .text_lign{
            font-size: 23px;
            font-weight: 400;
            color: #a4a4a4;
            text-transform: uppercase;
            text-align: center;
            margin-top: 25px;
        }
    }
}

footer{
    min-height: 170px;
    background-color: black;
    padding: 61px 0 69px 0;

    .container{
        width: 1140px;
        margin: 0 auto;
    }

    .info_links{
        text-align: center;
        padding-top: 50px;
        a{
            font-size: 15px;
            font-weight: 300;
            color: #888888;

            &:hover{
                color: white;
                text-decoration: none;
            }

        }

        span{
            color: #888888;
        }
    }

    .tel{
        text-align: center;
        margin-top: 10px;
       a{
        color:#888888;

        &:hover{
            color: white;
            text-decoration: none;
        }
       }

       span{
           color:#888888;
       }
    }
}